* {
  margin: 0;
  padding: 0;
}

html {
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

img {
  border-radius: 28px;
  margin-top: 64px;
  margin-bottom: 20px;
}

body {
  box-sizing: border-box;
  align-items: center;
}

#page {
  place-items: center;
  box-sizing: border-box;
  width: 1120px;
  padding: 24px;
  border-radius: 24px;
  margin: 48px auto 0px;
}

section {
  color: 333333;
}
main {
  margin: 40px;
}

#introduction {
  margin-bottom: 40px;
}

#divisory {
  border-top: solid #D9D9D9 1px;
  margin-top: 64px;
}

.description {
  place-items: center;
  text-align: center;
  justify-content: center;
  font-style: italic;
}

h2 {
  color: #E1624F;
  margin-top: 50px;
  text-align: left;
  font-size: 16px;
}

h1 {
  font-size: 32px;
}

h1,  p {
  text-align: justify;
}

#historia {
  color: #0C51A7;
}
#casais {
  color: #591B98;
}
#familias {
  color: #E5245E;
}
#orçamento {
  color: #E95E10;
}

#beomeo-sa, #parque {
  margin-top: 48px;
}

#divisory2 {
  border-top: solid #D9D9D9 1px;
  margin-top: 20px;
}

p + p {
  margin-top: 20px;
  place-items: center;
  text-align: center;
  justify-content: center;
}

footer {
  color: #333333;
  vertical-align: middle;
  text-align: center;
  font-family: "Alice", serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 80px;
}
